<div id="home-page">
    <section class="home-cont">
        <div class="home-element"><img src="/res/1591447655469.png"></div>
        <h1 class="home-element">The secret of getting ahead is getting started!!</h1>
    </section>
    <div>
        <p style="text-align: center;">Designed and developed by Athar Nawaid</p>
        <p style="text-align: center;"><a  href="https://github.com/Athar-Nawaid">View my Github</a></p>
    </div>
</div>
